= provide(:title, t(:edit, model: Admin.model_name.human))
h2 = t(:edit, model: Admin.model_name.human)

.row
  .span6.offset3
    = form_for(@admin) do |f|
        = render 'fields', f: f
        = f.submit class: "btn btn-large btn-primary"
