<% provide(:title, t(:list_all, model: Admin.model_name.human.pluralize)) %>
<h1><%= t(:list_all, model: Admin.model_name.human.pluralize) %></h1>

<%= will_paginate %>

<ul class="users">
  <%= render @admins %>
</ul>

<%= will_paginate %>
