<%= provide(:title, 'All operations') %>

<h1>All operations</h1>

<%= will_paginate %>
<table class="table table-striped">
  <thead>
      <tr>        
        <th>First name</th>
        <th>Last name</th>
        <th>Sum</th>
      </tr>
    </thead>
  <tbody>
    <%= render @operations %>
  </tbody>
</table>

<%= will_paginate %>