<%= provide(:title, 'All operations') %>
<h1>All operations</h1>

<%= will_paginate %>
<table class="table table-striped">
  <%= render @operations || 'There are no operations available'%>
</table>

<%= will_paginate %>
